.h0{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
.h1{
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
}
.h2{
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
}
.h3{
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
}
.h4{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}
.h5{
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
}
.h6{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}
.h7{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}