:root{
    --primary: '#1ABB89';
    --primary-light: '#F9F8FF';
    --primary-dark: '#0E049B';
    --secondary: '#00F3F9';
    --secondary-light: '#DDFEFF';
    --secondary-dark: '#05DFE4';
    --netural-1: '#1B2430';
    --netural-2: '#3C4C61';
    --white: '#FFFFFF';
}