<div class="main-container">
    <!-- nav-bar-start -->
    <nav>
        <div class="logo">
            <img src="../../assets/header_logo.png" alt="logo">
        </div>
        <ul>
            <li>
                <a href="#">How it works ?</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/icons/cart-user.svg" alt="cart">
                </a>
            </li>
            <li class="btn light-button">
                <a href="#" >Login</a>
            </li>
        </ul>
    </nav>
    <i class="fa fa-bars menu-ico"></i>
    <i class="fa fa-times-circle close-ico"></i>
    <!-- nav-bar-end -->
    <!-- hero-section-start -->
    <div class="hero-container">

        <div class="hero-text">
            <div class="hero-diamond">
                <img src="../../assets/starburst.svg">
            </div>
            <br>
            <div class="hero-text-bg">
                <img src="../../assets/icons/vector.svg" alt="vector"/>
            </div>

            <h1>Leave a <strong class="strong-h1"> &nbsp;strong</strong><br>
                <img class="head-text-img" src="../../assets/hero-text-img.svg"> first<strong class="strong-h1"> impression</strong><br>
                with<strong class="strong-h1">&nbsp;beyondTAP</strong> 
            </h1>
            <p>Share your profile in a tap without<br>
                any frustration. <strong class="strong-p">Customize</strong> your card<br>
                as per your liking.
            </p>
            <a class="btn dark-button">Get your Card</a>
                 
        </div>
    </div>
    <!-- hero-section-end  -->
    <!-- main-contianer-end -->


    <!-- background-images-start -->
    <div class="hero-bg-right ">
        <img src="../../assets/icons/heroimage.svg" alt="heroimage">
    </div>

    
</div>
<div class=" main-container-1 ">
    <div class="main-head">DON'T BLEND IN...STAND OUT!</div>
    <div class="sub-head">It’s so much more than a regular<br>
        business card
    </div>
    <div class="sub-container-1">
        <div class="sub-card">
            <img  src="../../assets/icons/info-icons/icon1.svg" alt="card"/>
            <div class="card-head">Flexible</div>
            <div class="card-label">Easily update and share your digital business cards to any device, perfect for today's mobile and remote work environment.</div>
        </div>
        <div class="sub-card">
            <img  src="../../assets/icons/info-icons/icon2.svg" alt="card"/>
            <div class="card-head">Sustainable</div>
            <div class="card-label">Choose an eco-friendly option and make a difference for the environment. Switch to miitap for a sustainable future.</div>
        </div>
        <div class="sub-card">
            <img  src="../../assets/icons/info-icons/icon3.svg" alt="card"/>
            <div class="card-head">Unique</div>
            <div class="card-label">Make a lasting impression with interactive features, and custom branding elements that will make your card unforgettable.</div>
        </div>
        <div class="sub-card">
            <img  src="../../assets/icons/info-icons/icon4.svg" alt="card"/>
            <div class="card-head">Digital</div>
            <div class="card-label">Tap, scan, or click. Access your cards anytime with cloud-based storage and sharing options, making networking a breeze!</div>
        </div>
    </div>
</div>

<div class="main-container-2">
    <img src="../../assets/card-pack.svg" alt="card-pack"/>
    <div class="card-pack">
        <h1>Your card, your way.</h1>
        <p>beyondTAP makes complete customisation easy, from card to<br>
            profile. With the ability to design your own card,<br>
            experience the ultimate brand expression.</p>
        <a  class="btn dark-button">Customize Card</a>
    </div>
</div>

<div class="main-container-3">
    <div class="handles-label">How it Works?</div>
    <div class="handles">
        <div class="handle-card">
            <img src="../../assets/labels/label1.svg"/>
            <h1>Pay in apps & online</h1>
            <p>Check out with Venmo, then share your finds with friends.</p>
            <a >Learn more</a>
        </div>
        <div class="handle-card">
            <img src="../../assets/labels/label2.svg"/>
            <h1>Shop local</h1>
            <p>Pay local businesses the same way you pay your friends on Venmo.</p>
            <a >Learn more</a>
        </div>
        <div class="handle-card">
            <img src="../../assets/labels/label3.svg"/>
            <h1>Venmo Debit Card</h1>
            <p>Take your Venmo balance shopping everywhere is accepted in the U.S.</p>
            <a >Learn more</a>
        </div>
    </div>
</div>

<div class="main-container-3">
    <div class="card-styles">
        <h1>Explore beyondTAP custom</h1>
        <p>beyondTAP custom enables you to showcase your distinct brand in all it's facets - from card design through to digital profile.</p>
        <div class="cards">
            
            <a class="btn-left">
                <img src="../../assets/cards/Arrow-left.svg" alt="arrow"/>
            </a>
            <div class="card-style">
                <img src="../../assets/cards/card1.svg" alt="card-style">
            </div>
            <div class="card-style">
                <img src="../../assets/cards/card2.svg" alt="card-style">
            </div>
            <div class="card-style">
                <img src="../../assets/cards/card3.svg" alt="card-style">
            </div>
            <a class="btn-right">
                <img src="../../assets/cards/Arrow-right.svg" alt="arrow"/>
            </a>
        </div>
        <div class="carousel">
            <div class="dots">
                <div class="dot active"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="learn"> 
                <p>View all</p> 
                <img src="../../assets/cards/long-arrow-right.svg" alt="long-arrow"/> 
            </div>
        </div>
    </div>
</div>

<div class="main-container-4">
    <div class="banner-head">
        <div class="insta-icon">
            <img src="../../assets/bottom-banner/insta.svg" alt="insta">
            <p>beyondTAP</p>
        </div>
        <div class="follow-us">
            <img src="../../assets/bottom-banner/right-arrow.svg" alt="right-arrow">
            <p>follow us</p>
            
        </div>
    </div>
    <div class="banner-images">
        <img src="../../assets/bottom-banner/banner-image1.svg" alt="banner-image">
        <img src="../../assets/bottom-banner/banner-image2.svg" alt="banner-image">
        <img src="../../assets/bottom-banner/banner-image3.svg" alt="banner-image">
        <img src="../../assets/bottom-banner/banner-image4.svg" alt="banner-image">
        <img src="../../assets/bottom-banner/banner-image5.svg" alt="banner-image">
        <img src="../../assets/bottom-banner/banner-image6.svg" alt="banner-image">

    </div>

</div>

<div class="main-container-5">
    <div class="faqs-head">Frequently Asked Questions</div>
    <ul class="faqs">
        <li class="faq">
            <p>What is a digital business Card?</p>
            <img src="../../assets/down-arrow.svg" alt="down-arrow"/>
        </li>
        <li class="faq">
            <p>How do I update my beyondTAP profile?</p>
            <img src="../../assets/down-arrow.svg" alt="down-arrow"/>
        </li>
        <li class="faq">
            <p>Are beyondTAP cards safe to share information?</p>
            <img src="../../assets/down-arrow.svg" alt="down-arrow"/>
        </li>
    </ul>

</div>

<div class="main-container-6">
    <div class="footer-top">
        <img class="brand-logo" src="../../assets/header_logo.png" alt="brand-logo">
        <img class="footer-arrow" src="../../assets/footer/footer-arrowup.svg" alt="arrow-up">
    </div>
    <div class="footer-links">
        <a>About</a>
        <a>Contact</a>
        <a>Shipping policy</a>
        <a>Terms of services</a>
        <a>Privacy policy</a>
    </div>
    <div class="footer-social-handles">
        <img class="footer-social-icon" src="../../assets/footer/footer-linkedin.svg" alt="linkedin">
        <img class="footer-social-icon" src="../../assets/footer/footer-pinterest.svg" alt="Pintrest">
        <img class="footer-social-icon" src="../../assets/footer/footer-instagram.svg" alt="Instagram">
        <img class="footer-social-icon" src="../../assets/footer/footer-Tiktok.svg" alt="TikTok">
        <img class="footer-social-icon" src="../../assets/footer/footer-youtube.svg" alt="Youtube">
    </div>
    <div class="footer-bottom">
        <p>©beyondTAP 2023</p>
    </div>

</div>


